.zero{
    background-color: black;
    color: black;
}

.one{
    background-color: chartreuse;
    color: chartreuse;
}

.w18{
    width: 18px;
}

.pointer {cursor: pointer;}

/**/
.btn{
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }